{{ define "kript" }}

{{ template "header" }}

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="display-2">
            <div class="col-md-12">
              <h2 class="display-2"><span style="color: inherit; font-size: 3rem;">Криптография</span></h2>
            </div>
          </h1>
          <p class="text-justify">&nbsp; Формально криптография (с греческого — «тайнопись») определяется как наука, обеспечивающая секретность сообщения. Пионером, написавшим первый научный труд о криптографии, считается Эней Тактик, завершивший свой земной путь задолго до
            Рождества Христова. Свои данные пытались шифровать еще Индия и Месопотамия, но первые надежные системы защиты были разработаны в Китае. Писцы Древнего Египта часто использовали изощренные способы письма, чтобы привлечь внимание к своим текстам.
            Чаще всего шифровка информации использовалась в военных целях: широко известен шифр «Скитала», примененный Спартой против Афин в V веке до н. э.&nbsp;
            <br>&nbsp; &nbsp; &nbsp; Криптография активно развивалась в Средние века, шифровками пользовались многочисленные дипломаты и купцы. Одним из самых известных шифров Средних веков называют кодекс Copiale — изящно оформленную рукопись с водяными
            знаками, не расшифрованную до сих пор. Эпоха Возрождения стала золотым веком криптографии: ее изучением занимался Фрэнсис Бэкон, описавший семь методов скрытого текста. Он же предложил двоичный способ шифрования, аналогичный использующемуся
            в компьютерных программах в наше время. Значительное влияние на развитие криптографии оказало появление телеграфа: сам факт передачи данных перестал быть секретным, что заставило отправителей сосредоточиться на шифровке данных.</p>
        </div>
        <div class="col-md-6">
          <img class="img-fluid d-block" src="./static/images/Этапы_криптографии_команда_F1_школы_7_проект_Криптография.jpg"> </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-2">
            <div class="col-md-12">
              <h2 class="display-2"><span style="color: inherit; font-size: 2.8rem;">Cовременные методы использования криптографии</span></h2>
            </div>
          </h1>
          <p class="text-justify">&nbsp; &nbsp; Появление доступного интернета перевело криптографию на новый уровень. Криптографические методы стали широко использоваться частными лицами в электронных коммерческих операциях, телекоммуникациях и многих других средах. Первая
            получила особенную популярность и привела к появлению новой, не контролируемой государством валюты — биткойна.&nbsp;
            <br>&nbsp; &nbsp; Многие энтузиасты быстро смекнули, что банковский перевод — штука, конечно, удобная, однако, для покупки таких приятных в быту вещей, как оружие или «вещества», он не подходит. Не подходит он и при запущенных случаях паранойи,
            ибо требует от получателя и отправителя обязательной аутентификации.&nbsp;
            <br>&nbsp; &nbsp; Аналоговую систему расчета предложил один из «шифропанков», о которых речь пойдет ниже, молодой программист Вэй Дай. Уже в 2009 году Сатоши Накамото (которого многие свято считают целой хакерской группировкой) разработал платежную
            систему нового типа — BitCoin. Так родилась криптовалюта. Ее транзакции не требуют посредника в виде банка или другой финансовой организации, отследить их невозможно. Сеть полностью децентрализована, биткойны не могут быть заморожены или изъяты,
            они полностью защищены от государственного контроля. В то же время биткойн может использоваться для оплаты любых товаров — при условии согласия продавца.&nbsp;
            <br>&nbsp; &nbsp; Новые электронные деньги производят сами пользователи, предоставляющие вычислительные мощности своих машин для работы всей системы BitCoin. Такой род деятельности называется майнинг (mining — добыча полезных ископаемых). Заниматься
            майнингом в одиночку не очень выгодно, гораздо проще воспользоваться специальными серверами — пулами. Они объединяют ресурсы нескольких участников в одну сеть, а затем распределяют полученную прибыль.&nbsp;
            <br>&nbsp; &nbsp; Крупнейшей площадкой купли-продажи биткойнов является японская Mt. Gox, через которую проводятся 67% транзакций в мире. Заядлые анонимы предпочитают ей российскую BTC-E: регистрация здесь не требует идентификации пользователя.
            Курс криптовалюты довольно-таки нестабилен и определяется только балансом спроса и предложения в мире. Предостережением новичкам может служить известная история о том, как 10 тысяч единиц, потраченых одним из пользователей на пиццу, превратились
            через некоторое время в 2,5 миллиона долларов.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-2">
            <div class="col-md-12">
              <h2 class="display-2"><span style="color: inherit; font-size: 3rem;">Терминология</span></h2>
            </div>
          </h1>
          <p class="text-justify">&nbsp; &nbsp; Основными операторами являются исходное сообщение (открытый текст, plaintext) и его изменение (шифротекст, ciphertext). Дешифровкой (decryption) называется сам процесс трансформации шифротекста в текст открытый. Для начинающего
            криптографа важно запомнить и несколько других терминов:&nbsp;
            <br>&nbsp; &nbsp;<b> АЛИСА, ЕВА И БОБ (ALICE)</b> Свести описание криптопротокола к математической формуле помогают определенные имена участников игры: Алиса и Боб. Противник в действующей криптосистеме обозначен как Ева (eavesdropper — подслушивающий).
            В редких случаях имя меняется, однако противник всегда остается женского рода.&nbsp;
            <br>&nbsp; &nbsp; <b>АВТОНОМНАЯ СИСТЕМА ЭЛЕКТРОННЫХ ПЛАТЕЖЕЙ (OFF-LINE E-CASH SYSTEM)
</b>Благодаря ей покупатель и продавец могут работать напрямую, без участия банка-эмитента. Минус этой системы заключается в дополнительной транзакции, которую совершает продавец, переводящий полученные деньги на свой банковский счет.&nbsp;
            <br>&nbsp; &nbsp; <b>АНОНИМНОСТЬ (ANONYMITY)</b> Это понятие означает, что участники акции могут работать конфиденциально. Анонимность бывает абсолютной и отзываемой (в системах, подразумевающих участие третьего лица, арбитра). Арбитр может при
            определенных условиях идентифицировать любого игрока.&nbsp;
            <br>&nbsp;&nbsp;<b>ПРОТИВНИК (ADVERSARY)</b> Нарушитель. Он стремится нарушить периметр конфиденциальности протокола. Вообще, использующие криптопротокол участники воспринимают друг друга как потенциальных противников — по умолчанию.&nbsp;
            <br>&nbsp; &nbsp; <b>ЧЕСТНЫЙ УЧАСТНИК (HONEST PARTY)</b> Честный игрок, обладающий необходимой информацией и строго следующий протоколу системы.&nbsp;
            <br>&nbsp; <b>ЦЕНТР ДОВЕРИЯ (AUTHORITY (TRUSTED AUTHORITY))
</b>Своеобразный арбитр, который пользуется доверием всех участников системы. Необходим в качестве меры предосторожности, гарантирующей участникам соблюдение оговоренного протокола.&nbsp;
            <br>&nbsp; <b>БОЛЬШОЙ БРАТ (BIG BROTHER)</b> Да, именно он. Действия Большого Брата не контролируются и не отслеживаются другими участниками криптопротокола. Доказать нечестную игру Большого Брата невозможно, даже если все в этом уверены.&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
  
{{ template "footer" }}

{{ end }}